.default {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10pt;
  color: #828282;
}

.table-comment {
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
}

.tbody-comment {
  display: table-row-group;
  vertical-align: middle;
}

.votelinks-comment {
  vertical-align: top;
}

center {
  display: block;
  text-align: -webkit-center;
}

.votearrow-comment {
  width: 10px;
  height: 10px;
  border: 0px;
  margin: 3px 2px 6px;
  background: url("../images/grayarrow.gif") no-repeat;
  cursor: pointer;
}

.comment-user-row {
  margin-top: 2px;
  margin-bottom: -10px;
}

.comhead-comment {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 8pt;
  color: #828282;
}

.comhead-comment a:link {
  color: #828282;
}

.comment {
  overflow: hidden;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 9pt;
}

.hnuser {
  cursor: pointer;
}

.commtext {
  color: #000000;
}
font {
  font-size: x-small;
}
u {
  text-decoration: underline;
}

.reply {
  cursor: pointer;
}

@media (max-width: 768px) {
  .stories-container {
    min-width: auto;
    margin: 0 auto;
    width: 90%;
    padding-left: 0em;
  }

  .comment {
    word-break: break-word;
    font-size: 8pt;
  }
}
