.stories-container {
  min-width: 796px;
  margin: 0 auto;
  width: 85%;
  background-color: #f6f6ef;
  padding-top: 0.5em;
  padding-left: 0.5em;
  max-width: 950px;
}

@media (max-width: 768px) {
  .stories-container {
    min-width: auto;
    margin: 0 auto;
    width: 90%;
    padding-left: 0em;
  }
}
