body {
  margin: 10px auto;
}

.story-container {
  min-width: 796px;
  margin: 0 auto;
  width: 85%;
  background-color: #f6f6ef;
  padding-top: 0.5em;
  padding-left: 0.5em;
}

/* .App {
  margin: 0 auto;
} */

/* display: table-row-group;
vertical-align: middle;
border-color: inherit;

font-family: Verdana, Geneva, sans-serif;
font-size: 10pt;
color: #828282;



#ff6600 */
